*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    list-style-type: none;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    border-radius: 10px;
    background-color: #f1f1f1;
    padding: 30px;
}

#heading{
    font-size: 22px;
    margin-bottom: 10px;
}

ul{
    width: 100%;
}

.list{
    padding: 9px;
    background-color: #fff;
    margin: 7px 0;
    width: 100%;
    text-align: left;
    font-weight: 600;
    display: flex;
}
.list span{
    flex: 1;
}

.input-container {
    display: flex;
    margin: 5px;
    width: 100%;
    align-self: center;
    justify-self: center;
}

.input-container input{
    flex: 1;
    padding: 5px;
    font-size: 1rem;
}

.input-container #addElement{
    width: 70px;
    padding: 5px;
    margin-left: 5px;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.4s ease;
}

.input-container #addElement:hover{
    color: white;
    background-color: green;
    border: none;
}

.check{
    width: 70px;
    padding: 5px;
    margin-left: 5px;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.4s ease;
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
}

.deleteElement{
    width: 70px;
    padding: 5px;
    margin-left: 5px;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.4s ease;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}